<div class="main-container bg-dark text-light d-flex justify-content-center" style="margin-top: 13%;width:100%; ">
        <form action="router.php?c=auth&a=login" method="post">
            <div class="mb-3">
                <label for="inputUsername" class="form-label">Username:</label>
                <input type="text" class="form-control" id="inputUsername" name="username" required><br>
            </div>
            <div class="mb-3">
                <label for="inputPassword" class="form-label">Password:</label>
                <input type="text" class="form-control" id="inputPassword" name="password" required><br>
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
        </form> 
</div>
    