<div class="main-container bg-light text-dark d-flex justify-content-center" style="margin-left:auto; margin-right:auto; margin-top: 10%; width:50%; border:1px solid white">
    <div class="row">
        <ul>
            <li><a href="router.php?c=funcionario&a=atualizarPass">atualizar password</a></li>
            <li><a href="router.php?c=fatura&a=index">Ver todas as faturas</a></li>
            <li><a href="router.php?c=fatura&a=escolher">Realiza emissão de faturas</a></li>
            <li><a href="router.php?c=cliente&a=index">Realiza o registo de clientes</a></li>
            <li><a href="router.php?c=produto&a=index">Realiza a gestão de produtos e stocks</a></li>
            <li><a href="router.php?c=iva&a=index">Realiza a gestão das taxas de IVA</a></li>
            <li>Configura os dados da empresa que emite as faturas</li>
        </ul>
    </div>
</div>