<div class="main-container bg-light text-dark d-flex justify-content-center" style="margin-left:auto; margin-right:auto; margin-top: 10%; width:50%; border:1px solid white">
    <div class="row">
        <ul>
            <li>atualizar password</a></li>
            <li>Realiza emissão de faturas</li>
            <li><a href="router.php?c=cliente&a=create">Realiza o registo de clientes</a></li>
            <li>Realiza a gestão de produtos e stocks</li>
            <li><a href="router.php?c=iva&a=index">Realiza a gestão das taxas de IVA</a></li>
            <li>Configura os dados da empresa que emite as faturas</li>
            <li>Conslita o historico de faturas já emitidas</li>
        </ul>
    </div>
</div>